<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

    .container{
        background-color: yellow;
        height: 100px;
    }
    p{
        color: white;
    }

</style>

<body>
    <div class="container">
        <p>Thanks for registration </p>
        <a href="http://localhost:3001/confirm-email?token={{confirmationToken}}">Click</a>
    </div>


</body>
</html>

